.LandingPageHolder-false,
.LandingPageHolder-true {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.LandingPageHolder-false {
  left: 0vw;
  transition: 1s;
}
.LandingPageHolder-true {
  left: -100vw;
  transition: 1s;
}
.homepage-both-transition {
  display: flex;
  flex-direction: row;
}
.hotel-plane-animation-false,
.hotel-plane-animation-true,
.plane-animation-true,
.hotel-animation-true,
.plane-animation-false,
.hotel-animation-false {
  position: absolute;
}
.hotel-plane-animation-false,
.plane-animation-false,
.hotel-animation-false {
  left: 100vw;
  transition: 1s;
}
.hotel-plane-animation-true,
.plane-animation-true,
.hotel-animation-true {
  left: 0;
  transition: 1s;
}
