body {
  background-color: whitesmoke;
}
.body-count,
.room-count,
.Search-Page-holder {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}
.Search-Page-holder {
  height: 80vh;
  width: 100vw;
}
.body-count {
}
.room-count {
}
